<div class="posts">
    @foreach (var Post in Model.Posts)
    {
    <partial name="_Post" model="Post"   />
    }
</div>
<div class="fullscreen-overlay" onclick="closeFullscreen()">
    <img class="fullscreen-image" id="fullscreenImg" alt="Fullscreen Image" hidden="true">
</div>