<div class="gallery-item" tabindex="0">
    <a href="/upload/Index"><img src="~/Image/PostImage/upload.png" alt="Upload Image" class="upload-icon"></a>
    <div class="gallery-item-type">

        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

    </div>
</div>